<?xml version="1.0" encoding="UTF-8"?>
                <settings>
                    <email>
                        <server>smtp.gmail.com</server>
                        <port>465</port>
                        <username>smtp server username in enviroment variables</username>
                        <password>smtp server password in enviroment variables</password>
                        <message>invoice from BestComp Ltd.</message>
                    </email>
                </settings>
