{% extends "settings.html" %}
{% block settingPage %}


    <h2 class="mb-4">Email Settings</h2>
    <form id="email-settings-form" class="border p-4 rounded bg-light">
        <div class="mb-3">
            <label for="server" class="form-label">SMTP Server</label>
            <input type="text" class="form-control" id="server" placeholder="smtp.gmail.com">
        </div>
        <div class="mb-3">
            <label for="port" class="form-label">Port</label>
            <input type="number" class="form-control" id="port" placeholder="465">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">SMTP Server Username</label>
            <input type="email" class="form-control" id="username" placeholder="smtp server username in enviroment variables">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">SMTP Server Password</label>
            <input type="texxt" class="form-control disabled" id="password" placeholder="smtp server password in enviroment variables">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Default Message</label>
            <input type="text" class="form-control" id="message" placeholder="message for your emails">
        </div>
        <button type="button" class="btn btn-primary w-100" onclick="saveSettings()">Save Settings</button>
    </form>


<script src="{{ url_for('static', filename='settings.js') }}"></script>
{% endblock %}
