{% extends "settings.html" %}
{% block settingPage %}

    <h2 class="mb-4">Invoice Settings</h2>
    <form id="invoice-settings-form" class="border p-4 rounded bg-light">
        <div class="mb-3">
            <label for="pmsg" class="form-label">Payment message</label>
            <input type="text" class="form-control" id="pmsg">
        </div>
        <div class="mb-3">
            <label for="notice" class="form-label">Notice</label>
            <input type="text" class="form-control" id="notice">
        </div>
        <div class="mb-3">
            <label for="footer" class="form-label">Footer</label>
            <input type="text" class="form-control" id="footer">
        </div>

        <button type="button" class="btn btn-primary w-100" onclick="saveSettings()">Save Settings</button>
    </form>

<script src="{{ url_for('static', filename='invoice.js') }}"></script>
{% endblock %}
