

{% extends "loginbase.html" %}
{% block login %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Invoices for micro business</h1>
            <p class="col-lg-10 fs-4">
                Local or WEB application for all your invoicing needs.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                {{ form.hidden_tag() }}

                <div class="form-floating mb-3">
                    {{ form.email(class="form-control", placeholder="name@example.com") }}
                </div>

                <div class="form-floating mb-3">
                    {{ form.password(class="form-control", placeholder="Password") }}
                </div>



                {{ form.submit(class="w-100 btn btn-lg btn-primary") }}

                <hr class="my-4">
            </form>
        </div>
    </div>
</div>

  {% endblock %}
