{% extends "newbase.html" %}
{% block content %}

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Invoices</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
              <svg class="bi"><use xlink:href="#calendar3"></use></svg>
              This week
            </button>
          </div>
        </div>
        <div id="listOfInvoices" >

        <ol class="list-group list-group-numbered">
          {% for item in invoices %}
          {% if item.date!=None %}
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Invoice {{item.id}}, {{item.date}} / {{item.from_to()[0]}} to {{item.from_to()[1]}}</div>
              {{item.text}}
            </div>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <a href="{{url_for('generate_pdf', invoiceId=item.id)}}" class="btn btn-success">Download PDF</a>
            <a href="{{url_for('resend', invoiceId=item.id)}}" class="btn btn-primary">Re-Send</a>
              <a href="{{url_for('re_view_invoice', invoiceId=item.id)}}" class="btn btn-info">View</a>
            </div>
          </li>
          {% endif %}

        {% endfor %}
        </ol>

      </div>
      </main>
      <div class="col col-lg-2">

      </div>
    </div>
  </div>


  <div id="modalBackDrop"></div>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Send new invoice</h1>
          <button type="button" onclick="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modaUserContainer" class="modal-body">
          <select class="btn btn-secondary dropdown-toggle" name="userId" id="">
            {% for user in users %}
            <option class="dropdown-item" value="{{user.id}}">{{user.name}} {{user.last_name}}</option>
            {% endfor %}
          </select>

          <select class="btn btn-secondary dropdown-toggle" name="salonId" id="">
            {% for salon in salons %}
            <option class="dropdown-item" value="{{salon.id}}">{{salon.name}}</option>
            {% endfor %}
          </select>
          <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            new user
          </button>
      
        </div>
        <div class="modal-footer">
          <button type="button" onclick="closeModal()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="prepInvoiceButton" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>



  <!--Items Modal -->
<div class="modal fade" id="invoiceItemsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="invoiceItemsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="invoiceItemsModalLabel">Invoice items</h1>
        <button type="button" onclick="closeItems()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modalItemsContainers" class="modal-body">

      </div>
      <div>
        <button type="button" onclick="addNewItem()" class="btn btn-secondary" data-bs-dismiss="modal">new item</button>
        total
      </div>
      <div class="modal-footer">
        <button type="button" onclick="closeItems()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" onclick="sendInvoiceData()" class="btn btn-primary">send invoice Data</button>
      </div>
    </div>
  </div>
</div>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
